.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #9099A2;
}


/** NAVBAR BEGINS HERE **/
.navbar#true {
  background-color: rgba(136, 145, 153, .95);
  transition: 0.6s;
}

@media screen and (max-width: 575px) {
  .navbar {
    background-color: rgba(136, 145, 153, .95);
  }
}

@media screen and (max-width: 575px) {
  .nav-btn {
    margin: 0px;
  }
}

@media screen and (max-width: 575px) {
  .nav-item {
    width: 0px;
  }
}

.navbar-collapse {
  justify-content: center;
}

.navbar-brand {
  position: absolute;
  left: 1%;
  top: 0;
  margin-top: 3px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler {
  border: none;
}

.navbar-brand:hover {
  position: absolute;
  left: 1%;
  top: 0;
  margin-top: 3px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-btn {
  color: white;
  border-bottom: 2px solid transparent;
  margin-left: 35px;
  margin-right: 35px;
  transition: 0.5s;
  padding-bottom: 5px;
}

.nav-btn:hover {
  color: white;
  border-bottom: 2px solid white;
  margin-left: 35px;
  margin-right: 35px;
  cursor: pointer;
  transition: 0.75s;
  padding-bottom: 5px;
}

@media screen and (max-width: 725px) {
  .navbar-brand {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .navbar-brand {
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  .navbar-brand {
    font-size: 20px;
  }
}
/** NAVBAR ENDS HERE **/


/** HOME PAGE BEGINS HERE **/
.home-div {
  width: 80%;
  margin: auto;
  padding: 10px;
  color: #e8e6e6;
}

@media screen and (max-width: 1100px) {
  .home-div {
    justify-content: center;
    width: 100%;
    color: #e8e6e6;
  }
}

.home-info {
  margin-top: 10%;
  width: 40%;
  float: left;
}

@media screen and (max-width: 1100px) {
  .home-info {
    margin-top: 10%;
    width: 100%;
  }
}

.home-name {
  border: 3px solid white;
  color: white;
  margin: 0 auto;
  width: 400px;
  padding: 20px;
}

@media screen and (max-width: 575px) {
  .home-name {
    border: 3px solid white;
    color: white;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
  }
}

.home-pic {
  margin-left: 40%;
}

.things-made {
  color: #D5D5D5;
  border: 3px solid #D5D5D5;
  margin: 0 auto;
  padding: 20px;
  width: 375px;
}

@media screen and (max-width: 575px) {
  .things-made {
    color: #D5D5D5;
    border: 3px solid #D5D5D5;
    margin: 0 auto;
    padding: 20px;
    width: 275px;
    margin-top: 30px;
    font-size: 1.5em;
  }
}

/** HOME PAGE ENDS HERE **/


/** PROJECTS BEGINS HERE **/
.project-item {
  color: white;
}

.project-text {
  padding-top: 50px;
  color: #e8e6e6
}

.project-textarea {
  padding-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 849px) {
  .project-title-text {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  .project-title-text {
    font-size: 1.9em;
  }
}

@media screen and (max-width: 400px) {
  .project-title-text {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 330px) {
  .project-title-text {
    font-size: 1.6em;
  }
}

.projects-header {
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  color: #b2c5ed;
  border: 3px solid #b2c5ed;
}

.projects-description {
  margin: 0 auto;
  width: 80%;
  font-size: 1.25em;
}

.cards-section {
  margin-top: 15px;
}

@media screen and (max-width: 698px) {
  .cards-section {
    margin-top: 50px;
  }
}

@media screen and (max-width: 434px) {
  .cards-section {
    margin-top: 60px;
  }
}

.projects-button {
  position: fixed;
  bottom: 80px;
  right: 40px;
}

.project-summary-div {
  text-align: center;
}

@media screen and (max-width: 575px) {
  .project-summary-div {
    text-align: left
  }
}

.project-card {
  background-color: transparent;
  margin: 0 auto;
  margin-top: 80px;
  width: 80%;
}

@media screen and (max-width: 890px) {
  .project-card {
    background-color: transparent;
    margin: 0 auto;
    margin-top: 60px;
    width: 80%;
  }
}

@media screen and (max-width: 698px) {
  .project-card {
    background-color: transparent;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
  }
}
/** PROJECTS ENDS HERE **/


/** WRITINGS BEGINS HERE **/
.writings-text {
  padding-top: 50px;
  color: #e8e6e6;
}

.writings-header {
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  color: #e3c8c8;
  border: 3px solid #e3c8c8;
}

.writings-description {
  margin: 0 auto;
  width: 80%;
  font-size: 1.25em;
}

.writing-card {
  margin-top: 70px;
}

@media screen and (max-width: 971px) {
  .writing-card {
    margin-top: 65px;
  }
}

@media screen and (max-width: 698px) {
  .writing-card {
    margin-top: 36px;
  }
}
/** WRITINGS ENDS HERE **/

/** CONTACT BEGINS HERE **/
.link-div {
  margin-top: 50px;
}

.fab {
  cursor: pointer;
}

@media screen and (min-width: 971px) {
  .fab:hover {
    color: #449DD1;
    transition: 0.2s;
  }
}

.emailicon {
  cursor: pointer;
}

@media screen and (min-width: 971px) {
  .emailicon:hover {
    color: #449DD1;
    transition: 0.2s;
  }
}




.contact-div {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(36, 36, 36, 0.85);
  color: white;
}

.social-div {
  float: left;
  width: 50%;
  padding-top: 120px;
  padding-left: 50px;
  text-align: left;
}

.contact-form-div {
  margin-left: 50%;
  padding-top: 120px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .social-div {
    float: left;
    width: 40%;
    padding-top: 120px;
    padding-left: 50px;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .contact-form-div {
    margin-left: 40%;
    padding-top: 120px;
    text-align: left;
  }
}

.contact-text {
  color: white;
}

.input-div {
  margin: 10px;
}

.contact-input {
  width: 70%;
}

.message-input {
  width: 70%;
  height: 120px;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 50px;
  cursor: pointer;
  font-size: 3em;
}

@media screen and (max-width: 800px) {
  .close-icon {
    font-size: 2em;
  }
}

.at-span {
  padding-left: 15px;
}

@media screen and (max-width: 923px) {
  .at-span {
    padding-left: 0px;
    font-size: 0px;
  }
}

.closer {
  position: absolute;
  right: 10px;
  top: 15px;
}

.closer:hover {
  position: absolute;
  right: 10px;
  top: 15px;
  color: grey;
}

/** CONTACT ENDS HERE **/
